/* saved-recipe.css */
.mainbox h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.saveMain {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.saveMain li {
  display: flex;
  flex-direction: column;
  margin: 0 10px 50px 0;
  width: 280px;
  height: 530px;
  /* background-color: #c89494; */
  color: rgb(255, 255, 255);
  font-weight: 600;

}

.saveMain h2 {
  margin-bottom: -15px;
}

.saveMain img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* ingredients  */
.saveMain p {
  font-size: 13px;
  font-weight: 350;
  color: rgb(234, 233, 233);

}

button {
  background-color: #e5b971;
  color: rgb(7, 7, 7);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: rgb(246, 246, 245);

}

.saveMain .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}